body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background: black;
}

h1,
h2,
h3,
h4,
h5,
p {
    background: linear-gradient(to right, #00ff26, #00ccff, #bfff00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300%;
    background-position: -100%;
    animation: change-color 3s infinite alternate-reverse;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
h3{
    text-align: center;
    position: relative;
    margin: 0;
}

header,
footer,
.intro,
.about-wrap,
.projects,
.projects-wrap,
.contact-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    justify-content: start;
    min-height: 100vh;
}


.whiteTxt{
    color: white;
}
.grnTxt {
    color: rgb(91, 203, 255);
    z-index: -5;
    transition-duration: 0.5s;
    font-size: 1rem;
}
.blkTxt {
    transition-duration: 0.5s;
    font-size: 1rem;
}
nav {
    font-family: 'Nunito Sans', sans-serif;
    width: 80%;
    padding: 2vh 3vw;
    text-align: right;
}

nav a {
    color: #f2f2f2;
    padding: 15px 15px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    color: cyan;
    transition-duration: 0.5s;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

.navTag {
    float: left;
}

.navWrap {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.500);
    backdrop-filter: blur(5px);
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBtn {
    border: none;
    height: 4vh;
    width: 6vh;
}

.navRes {
    display: block;
}

.intro {
    width: 80%;
    padding-top: 50px;
    flex-direction: row;
}

.text {
    width: 65%;

}

.text>* {
    position: absolute;
    top: 45%;
    margin: 0;
    padding: 0;
}

.handler {
    z-index: 1;
}

.h1-2nd {
    top: 45%;
    opacity: 0;
    transition-duration: 1s;
    -webkit-text-stroke: cyan 1.5px;
    color: black;
}

.h1-3nd {
    -webkit-text-stroke: white 1.5px;
    color: black;
    top: 45%;
    opacity: 0;
    transition-duration: 1s;
}

.text button {
    font-size: 100%;
    background: linear-gradient(to right, #00ff00, #00fff2, #0066ff);
    background-size: 200% auto;
    transition-duration: 0.5s;
    border: none;
    border-radius: 0.5rem;
    width: 6rem;
    height: 2.5rem;
    margin: 0 0.5rem;
}

.text button:hover {
    background-position: right center;
    cursor: pointer;
}

.txtBot {
    top: 60%;
    display: flex;
    align-items: center;
}

.txtBot p {
    font-size: large;
    max-width: 16rem;
}

.front {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20%;
    width: 60vh;
    height: 50vh;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent,#000000, #000000, transparent);
}
.fr div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fr div span{
    display: inline-flex;
    margin: 5px;
    padding: 5px 10px;
    background-color:#4a4a4a ;
    border-radius: 0.2rem;
    color: white;
}
.fr1 span:hover,
.fr1-2 span:hover{
    cursor: pointer;
    background-color: rgb(0, 181, 0);
}
.fr2 span:hover,
.fr2-2 span:hover{
    cursor: pointer;
    background-color: rgb(0, 63, 181);
}
.fr3{
    text-transform: uppercase;
}
.fr-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fr-wrap div{
    white-space: nowrap;
}
.fr1{
    animation: sliding-text var(--t) linear infinite;
}
.fr1-2{
    animation: sliding-text-1-2 var(--t) linear infinite;
}
.fr2{
    animation: sliding-text calc(var(--t)*1.5) linear infinite;
}
.fr2-2{
    animation: sliding-text-1-2 calc(var(--t)*1.5) linear infinite;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wrap {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
}

.about {
    width: 100%;
}

.services-wrap {
    height: 100vh;
}

.services {
    width: 80vw;
    margin: 0;
    padding: 0;
}

.services-head {
    width: 90%;
}
.services h3{
    margin: 1rem 0;
}
.boxSer {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.boxSerChld {
    border: solid 0px;
    border-radius: 15px;
    width: 33%;
    margin: 0px 25px;
    padding: 0px 25px;
    margin-bottom: 5vh;
    text-align: center;
}
.boxSerChld p{
    color: white;

}
.projects,
.projects-wrap {
    height: auto;
}

.projects-wrap {
    padding-top: 1.5rem;
}

.pros-head {
    text-transform: uppercase;
}

.pros-main {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project {
    width: 45vh;
    height: 45vh;
    margin: 1vh;
    background-color: #04AA6D;
    border: solid 0px;
    border-radius: 2.5vh;
    transition-duration: 0.3s;
}

.project:hover {
    width: 46.5vh;
    height: 46.5vh;
    margin: 0.25vh;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact {
    width: 60vw;
    height: 60%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact>* {
    height: 100%;
    width: 50%;
}

.form {
    background-color: white;
    background: rgb(0, 4, 47);
    border-radius: 5%;
}

.form-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-div>* {
    height: 10%;
    width: 80%;
    margin: 0.5vh auto;
}

.form h3 {
    color: white;

}

.btn {
    width: 90px;
    height: 30px;
    margin-left: 10%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input,
textarea {
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: white;
    color: white;

}

input::placeholder,
textarea::placeholder {
    color: white;
}

input:focus,
textarea:focus {
    outline: none;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fade,
.fade2 {
    opacity: 0;
}

.links {
    display: grid;
    gap: auto;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
}

.links a {
    display: flex;
    justify-content: center;
}

.icon {
    width: 2rem;
    transition-duration: 0.25s;
}

.icon:hover {
    width: 2.5rem;
    margin: 0;
    filter: drop-shadow(cyan 3px 3px);
    transition-duration: 0.25s;
}
footer {
    position: relative;
    height: 65vh;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.foot2{
    height: 50vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1500px) {
    .contact {
        width: 70vw;
    }
}

@media screen and (max-width: 1250px) {
    .contact {
        width: 80vw;
    }
}

@media screen and (max-width: 900px) {
    body {
        font-size: 1.5rem;
    }
    .avatar{
        top: 0;
        width: 75vw;
    }
    .navRes {
        position: absolute;
        width: 100vw;
        height: 40vh;
        display: none;
    }

    nav {
        width: 100vw;
        padding-right: 0;
        padding-left: 0;
    }

    .navRes a {
        float: left;
        text-align: center;
        width: 100%;
        background-color: white;
        padding: 1vh 0;
        color: black;
    }

    .navBtn {
        margin-right: 3vh;
        background-color: transparent;
    }

    .nav_btn {
        width: 100%;
    }

    .navTag {
        margin-left: 3vh;
    }

    h1 {
        font-size: 50px;
    }

    header {
        height: 150vh;
    }

    .intro {
        position: relative;
        flex-direction: column;
        height: 150vh;
        padding: 0;
    }

    .text {
        position: relative;
        width: 100%;
        height: 100vh;        
    }

    .text>* {
        top: 40vh;
    }

    .txtBot {
        width: 100%;
        top: 55vh;
        flex-direction: column;
        align-items: start;
    }
    .txtBot a,
    .txtBot p,
    .txtBot button{
        width: 100%;
    }

    .photo {
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about {
        width: auto;
    }

    .about-wrap {
        width: 80vw;
    }

    .services-wrap {
        height: auto;
    }

    .boxSer {
        flex-direction: column;
    }

    .boxSerChld {
        width: auto;
        margin: 1.5vh 0;
    }

    .pros-main {
        grid-template-columns: repeat(1, 1fr);
    }

    .project {
        width: 40vh;
        height: 40vh;
    }

    .project:hover {
        width: 41.5vh;
        height: 41.5vh;
        transition-duration: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .contact {
        flex-direction: column;
    }
    .contact>* {
        width: 100%;
    }
    .btn,
    input,
    textarea{
        width: 80%;
        height: 5vh;
    }

}

@media screen and (min-width: 900px) {
    .navBtn {
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes change-color {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

@keyframes sliding-text{
    0% {
        transform: translateX(50%);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes sliding-text-1-2{
    0% {
        transform: translateX(50%);
    }
    100%{
        transform: translateX(-50%);
    }
}
